.page {
    margin: 3vh 15vw 0vh 15vw;
    font-size: 2vh;
    font-weight: 400;


    .titre {
        font-size: 3vh;
        font-weight: 900;
        margin-bottom: 3vh;
    }

    >div>label {
        margin-right: 2vw;
        margin-bottom: 3vh;
    }

    hr {
        border-top: 0.2vh solid #000000;
    }

    .labelCommentaires {
        margin-bottom: 3vh;
    }

    .auteurCommentaire {
        padding-left: 5vw;
        width: 10vw;
    }

    .commentaireList {
        display: flex;
        flex-direction: row;
    }

    .commentaire {
        background-color: rgb(224, 224, 224);
        //border: 1px solid black;
        border-radius: 1.5vh;
        width: 43vw;
        height: 20vh;
        padding: 1vh 1vw 1vh 1vw;
    }

    .newCommentText {
        border-radius: 1.5vh;
        width: 55vw;
        height: 20vh;
        margin-right: 5vw;
        padding: 1vh 1vw 1vh 1vw;

    }

    .createComment {
        margin-top: -20vh;
        color: blueviolet;
        padding-top: 4vh;
        width: 10vw;
        height: 10vh;
        font-size: 7vw;
        display: inline-block;
        padding-right: 0vw;
        margin-right: 0vw;
    }

}

.goBack {
    width: fit-content;
    height: fit-content;
    font-size: 8vw;
    display: inline-block;
    transform: translate(-150%);
    padding-right: 0vw;
    margin-right: 0vw;
}

@media (width < 60em){

    .auteurCommentaire {
        margin-left: -3vw;
        padding-right: 8vw;
        width: 10vw;
    }

    .page {
        .commentaire {
            background-color: rgb(224, 224, 224);
            border-radius: 1.5vh;
            width: 55vw;
            height: 20vh;
            padding: 1vh 1vw 1vh 1vw;
        }
    }

}


@media (width <= 40em) {
    
    .auteurCommentaire {
        margin-left: -5vw;
        width: 10vw;
    }

    .page {
        margin: 3vh 1vw 0vh 1vw;
        font-size: 2vh;
        font-weight: 400;

        .commentaire {
            background-color: rgb(224, 224, 224);
            border-radius: 1.5vh;
            width: 70vw;
            height: 20vh;
            padding: 1vh 1vw 1vh 1vw;
            margin-left: 1vw;
        }

        .createComment {
            margin-top: -20vh;
            color: blueviolet;
            padding-top: 4vh;
            width: 10vw;
            height: 10vh;
            font-size: 7vw;
            display: inline-block;
            padding-right: 0vw;
            margin-left: -2vw;
        }

        .newCommentText{
            width: 80vw;
        }

    }

}