input{
    border: 1px solid blueviolet
}

.goBack {
    width: fit-content;
    height: fit-content;
    font-size: 8vw;
    display: inline-block;
}

h1{
    margin-bottom: 5vh;
}

.themeSelect{
    border: 1px solid blueviolet;
}

.contenu{
    border: 1px solid blueviolet;
    height: 20vh;
    resize:none;
}

.creerArticle{
    margin-top: 5vh;
}